<nav class="bg-gray-900 h-10">
  <ul class="p-2 flex justify-around text-gray-400">
    <li class="hover:text-white">
      <a routerLink="employees" routerLinkActive="text-white">Employees list</a>
    </li>
    <li class="hover:text-white">
      <a routerLink="register-employee" routerLinkActive="text-white"
        >Register employee</a
      >
    </li>
  </ul>
</nav>
<h1 class="text-center text-5xl font-bold my-5">{{ title }}</h1>
<div class="mx-20">
  <router-outlet></router-outlet>
</div>
